html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 1366px;
}

/* 因el-cascader级联选择器的选项卡高度太大，
需全局设置才能设置选项卡的高度 */
.el-scrollbar {
  height: 200px!important;
}

/* 统一设置面包屑字体大小 */
.el-breadcrumb {
  font-size: 12px;
}

/* 全局配置富文本编辑器Vue-quill-editor的高度 */
.ql-blank {
  height: 300px!important;
}